/* frontend/src/components/NavBar.css */

.navbar {
  background-color: #001a8b;
  overflow: hidden;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar-item {
  display: inline;
}

.navbar-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-link:hover {
  background-color: #ff8800;
  color: black;
}

button.navbar-link {
  background: none;
  border: none;
  cursor: pointer;
  padding: 14px 16px;
  color: white;
}
button.navbar-link:hover {
  background-color: #ddd;
  color: black;
}
